<ul class="contact-list list-unstyled">
  <li><a href="#" data-toggle="modal" data-target="#add-contact-modal">+ Contact</a></li>
  {{#each items as |item|}}
    <li class="contact-item">
      {{yield item}}
    </li>
  {{else}}
    <li class="no-contact-item">
      No contacts associated.
    </li>
  {{/each}}
</ul>

<div class="modal fade" id="add-contact-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Assign Contact</h4>
      </div>
      <div class="modal-body">
        {{#collection-select content=allItems action=(action (mut selectedContact)) as |item|}}
          {{item.fullName}}
        {{/collection-select}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action "addContact"}}>Add Contact</button>
      </div>
    </div>
  </div>
</div>
