{{#list-filter
   categories=model.category
   designs=model.design
   districts=model.district
   periods=model.period
   filter=(action 'filterAll')
   as |filteredResults|}}
  <ul class="results">
    {{#each filteredResults as |rentalUnit|}}
      <li>{{rental-listing rental=rentalUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}
