<div class="jumbo">
  <div class="right tomster"></div>
  <h2>О Нас</h2>
  <p>
    (Название фирмы) работает в Одесе не покладая рук с 2007 г. Мы - реелторское-агентство.
    Это значит, что мы любим и умеем создавать все то, что пригодится вам для комфортной жмзни в нашем любимом городе.
  </p>
  {{#link-to 'index' class="button"}}
    Начнем!
  {{/link-to}}
</div>
