<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about' class="menu-about"}}
        Информация о нас
      {{/link-to}}
      {{#link-to 'contact' class="menu-contact"}}
        Свяжись с нами
      {{/link-to}}

    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
