<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Добро пожаловать!</h2>
  <p>Мы надеемся, что вы найдете именно то, что ищете!</p>
  {{#link-to 'about' class="button"}}
    О нас
  {{/link-to}}
</div>
{{outlet}}
